body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: mediumorchid;
}

a {
  color: blue;
}

li {
  list-style: none;
  margin: 5px;
}

.delete-form {
  display: inline-block;
}

.delete-form button {
  background-color: mediumblue;
}
